<!DOCTYPE html>
<html>
  <head>
    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Milonga" rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css">
    {% block extrahead %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
