{% extends "base.html" %}


{% block body %}
<div class="container">
  <div class="hero-unit">
    <h1>Place Ignatius</h1>
    <p>sorry bro</p>
  </div>
  <hr />
  <h3>Welcome to PlaceIgnatius!</h3>
  <p>Let's face it... sometimes kittens just don't cut it. Sometimes, you need something more. Something that will make your website shine</p>
  <p>Look no further. Ignatius is here. And placing hi is so easy</p>
  <hr />
  <div class="well" id="usage-box">
    <div class="row">
      <div class="span6">
	<h2>Usage:</h2>
	<div class="code-seg">
	  <code>http://placeignatius.com/place/&#60;width&#62;/&#60;height&#62;</code>
	</div>
	<p><a href="/place/123/125" />Try it now!</a></p>
      </div>
      <div class="span4">
	<img src="/place/123/125" />
      </div>
    </div>
  </div>
</div>

{% endblock %}
